.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 4rem;
  //   @include phone {
  //     flex-direction: column;
  //   }
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30rem;
}
.flex--row {
  display: flex;
  width: 95%;
  justify-content: space-around;
}
.faq__item--box {
  display: none;
}
.active.faq__item--box {
  display: flex;
}

